_target_: src.models.lit_module.LitModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.008038534557596691
  weight_decay: 0.00028369961259166576
  momentum: 0.5

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.4624100057638133
  patience: 9

net:
  _target_: src.models.components.efficientnetv2.EfficientNetv2
  num_classes: 196
  pretrained: true
  freeze_layers: true
  num_unfrozen_layers: 1
  dropout_value: 0.366242345313863
